@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Gloock&display=swap');
*{font-family: 'Croissant One', cursive; font-family: 'Gloock', serif;}
.navig{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 40px;
}
